@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');

:root {
    --roboto: 'Roboto', sans-serif;
    --catamaran: 'Catamaran', sans-serif;
    --navy: rgb(7, 14, 56);
    --darkgreen: rgb(39,73,39);
    --leatherbrown: rgb(142,61,7);
    --lightyellow: rgb(230,221,129);
    --skyblue: rgb(237,247,255);
}

.beer-category {
    display: flex;
    flex-direction: column;
}
.beer-image {
    display: flex;
    flex-direction: row;
}

.checked {
    color: orange;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

H1 {
    display: flex;
    justify-content: center;
}

h2 {
    font-family: var(--catamaran);
    font-size: 20px;
}

.header-fixed-container{
    width: 100%;
    position: fixed;
    background: var(--navy);
    border-style: ridge;
    
}

.header-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.header-text {
    /* font: var(--roboto);
    font color: var(--lightyellow); */
}

li {   
    list-style: none;
}

.list-box {
    
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    border-bottom: 3px var(--lightyellow);
}

p {
    font-family: var(--roboto);
}

.single-review-container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px 400px;
    margin: 0 auto;
    background-image: url("images/wood.jpg");
    border: 5px var(--lightyellow);
}

.single-review-item-name {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: auto auto;
    font: 40px/1 var(--catamaran);
    font-weight: bolder;
}

.single-review-item-style {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    font: 20px/1 var(--roboto);
    font-weight: lighter;
}

.single-review-image-container {
    grid-column: 2 / span 2;
    grid-row:    1 / span 2;
    margin: auto;
    background: black;
    
}

.single-review-item-rating {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3; 
    font: 20px/1 var(--roboto);
    font-weight: lighter;
}

.single-review-item-text {
    grid-column: 2 / span 2;
    grid-row:    3 / span 1;
    font: 20px/1 var(--roboto);
    font-style: italic;
    font-weight: lighter;
}

.spacer {
    width: 100%;
    height: 185px;
}

.review {
    border-style: solid;
    border-width: 2px;
    border-color: var(--lightyellow);
}

.review-container{
    display
    background-image: url("images/wood.jpg");


}

.review-page-background {

}
.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}