@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');

:root {
    --roboto: 'Roboto', sans-serif;
    --catamaran: 'Catamaran', sans-serif;
    --navy: rgb(40,45,82);
    --darkgreen: rgb(39,73,39);
    --leatherbrown: rgb(142,61,7);
    --lightyellow: rgb(230,221,129);
    --skyblue: rgb(237,247,255);
}

.beer-category {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

H1 {
    display: flex;
    justify-content: center;
}

li {   
    list-style: none;
}

.single-review-container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px 400px;
    margin: 0 auto;
    background-image: url("images/leather.jpg");
    border: 5px var(--lightyellow);
}

.single-review-item-name {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: auto auto;
    font: 40px/1 var(--catamaran);
    font-weight: bolder;
}

.single-review-item-style {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    font: 20px/1 var(--roboto);
    font-weight: lighter;
}

.single-review-image-container {
    grid-column: 2 / span 2;
    grid-row:    1 / span 2;
    margin: auto;
    
}

.single-review-item-rating {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3; 
    font: 20px/1 var(--roboto);
    font-weight: lighter;
}

.single-review-item-text {
    grid-column: 2 / span 2;
    grid-row:    3 / span 1;
    font: 20px/1 var(--roboto);
    font-style: italic;
    font-weight: lighter;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}