
.beer-category {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

H1 {
    display: flex;
    justify-content: center;
}

li {   
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}