@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');

/* width */
::-webkit-scrollbar {
    width: 20px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, #cc8800, #ffcc66);
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

.beer-attributes {
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body {
    background-image: url("/images/donkeys.png");
    background-size: cover;
    /* overflow: hidden; */
    color: orange;
    font-family: var(--roboto);
}

.boxed {
    background-color: black;
    border: 1px solid gray;
    border-width: 0.25rem;
    border-radius: 5%;
    color: white;
    margin: auto;
    opacity: 0.7;
    width: 25rem;
  }

button {
    background-color: rgb(223, 96, 11);;
    border: none;
    border-radius: 0% 5% 0% 5%;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

button:hover {
    background-color: rgb(187, 81, 10);;

}

.generated-review {
    background-color: black;
    border: 1px solid gray;
    border-width: 0.25rem;
    border-radius: 5%;
    list-style-type: none;
    margin: auto;
    opacity: 0.7;
    width: 25rem;
}

.grid-of-reviews {
    display: grid;
    grid-gap: 10px 10px; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:    1fr 1fr;
    margin: 2rem auto 2rem auto;
    color: rgb(223, 96, 11);;
}

li.list-item {
    margin: 10px;
    list-style-image: url('/images/Masskrug2.png');
    font-weight: bold;
    transition: 0.5s;
}

li.list-item:hover {
    margin: 10px;
    list-style-image: url('/images/Masskrug2.png');
    color: rgb(223, 96, 11);
    transition: 0.5s;
}

.name-of-brewery {
    display: flex;
    justify-content: center;
}

:root {
    /* --roboto is the body text */
    --roboto: 'Roboto', sans-serif;

    /* --catamaran is the header text. */
    --catamaran: 'Catamaran', sans-serif;
    --navy: rgb(7, 14, 56);
    --darkgreen: rgb(39,73,39);
    --leatherbrown: rgb(142,61,7);
    --lightyellow: rgb(230,221,129);
    --skyblue: rgb(237,247,255);
}