.beer-attributes {
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

li.list-item {
    margin: 10px;
    list-style-image: url('/images/Masskrug.png');
}