@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet');

a {
    color: orange;
}
.beer-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 1rem auto;
    max-width: 10rem;  
    border-width: 2px;
    color: orange;  
    background-color: black;
    border-style: solid;
    border-color: grey;                        
}

body {
    background-image: url("https://assets.simpleviewinc.com/simpleview/image/fetch/q_100/https://assets.simpleviewinc.com/simpleview/image/upload/crm/columbus/1wolf0_6d1226de-5056-a348-3aefb0e56e4711ea.jpg");
    background-size: cover;
    overflow: hidden;

}

.footer {
    background-color: black;
}

.icons {
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Lobster', cursive;
}

h1 {
    display: flex;
    justify-content: center;
}

.label-item {
    color: orange; 
    background-color: black;
    border-style: solid;
    border-color: grey;           
}

.list-of-beers {
    list-style: none;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border: 1px solid gray;
    border-width: 0.25rem;
    border-radius: 5%;
    color: white;
    margin: auto;
    opacity: 0.7;
    width: 25%;
}
