body{
    /* background-color: red; */
}

.beer-list {
    display: grid;
    grid-gap: 15px 20px;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 300px 300px 300px; 
    margin: 2rem auto;
    border-width: 2px;
}

.main-header {
    display: flex;
    justify-content: center;
} 
