<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/reviews-page-styling.css">

</head>

<body>
    <header>
        <h1>AddBeer</h1>
    </header>
    <main>
        <ul>
            <li th:each="beer : ${beers}">
                <span th:text="${beer.beerName}"></span>
                <span th:text="${beer.style}"></span>
                <span th:text="${beer.imageUrl}"></span>
                <span th:text="${beer.brewery}"></span>
                <span th:text="${beer.userRating}"></span>
                <span th:text="${beer.userDescription}"></span>
            </li>
        </ul>
        <form action="reviews/add" method="POST">
            <label>Beer name
                <input type="text" name="beerName.beer" /></label>
            <label>Beer style
                <input type="text" name="style.beer" /></label>
            <label>Beer image
                <input type="text" name="imageUrl.beer" /></label>
            <label>Brewery
                <input type="text" name="brewery.company" /></label>
            <label>User Rating
                <input type="text" name="userRating.beer" /></label>
            <label>Review
                <input type="text" name="review" /></label>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>

</html>
<!-- Brendin Headlee -->

<!-- Luke Brannigan -->








</body>