<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">

</head>

<body>
    <header>
        <h1>AddBeer</h1>
    </header>
    <main>
        <ul>
            <li th:each="beer : ${beers}">
                <span th:text="${beer.beerName}"></span>
                <span th:text="${beer.style}"></span>
                <span th:text="${beer.imageUrl}"></span>
                <span th:text="${beer.brewery}"></span>
                <span th:text="${beer.userRating}"></span>
                <span th:text="${beer.userDescription}"></span>
            </li>
        </ul>
        <form action="/" method="Post">
            <label>Beer name
                <input="text" name="beerName" /></label>
            <label>Beer style
                <input="text" name="style" /></label>
            <label>Beer image
                <input="text" name="image" /></label>
            <label>Brewery
                <input="text" name="brewery" /></label>
            <label>User Rating
                <input="text" name="userRating" /></label>
            <label>Review
                <input="text" name="review" /></label>
            <button>Submit</button>
        </form>
    </main>
</body>

</html>
<!-- Brendin Headlee -->










</body>