<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Explore The Beers</title>
    <link rel="stylesheet" href="/css/beers-style.css">
</head>

<body>
    <main>
        <div class="boxed">
            <h2 class="name-of-brewery" th:text="${beer.beerName}">The given beer name</h2>
        </div>
        <ul class = "beer-attributes">
            <li class = "list-item">Brewery: <span class="list-item-brewery" th:text="${beer.brewery}">Brewing Co.</span></li>
            <li class = "list-item">User review: <span class = "list-item-rating" th:text="${beer.userRating}">user rating</span></li>
            <li class = "list-item">Style: <span class="list-item-style" th:text="${beer.style}">style</span></li>
            <li class = "list-item">Description: <span class="list-item-description" th:text="${beer.userDescription}">review</span></li>
        </ul>
    <main>
        <form action="/reviews/add" method="POST">
            <label class="add-a-review">Add a review: <input type="text" name="reviewText"/></label> 
            <input type="hidden" name="beerId" th:value="${beer.id}" />
                <button>Submit</button>
        </form>
        <p>Here's what everyone's saying about this beer:</p>
        <div class="grid-of-reviews">
            <ul th:each="review: ${beer.reviews}">
                <li class = "generated-review" th:text="${review.reviewText}">Description</li>
            </ul>
        </div>
</body>

</html>