<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <main>
        <h2 th:text="beername:${beerName.beer}"></h2>
        <p th:text="brewingco:${company.name}">Brewing Co.</p>
        <p th:text="style:${style.beer}">style</p>
        <p th:text="rating:${user.rating}">5/5</p>
        <img th:src="{imageUrl.beer}" style="width: 500px; height: 500px;"> </img>
        <p th:text="review:${userdescription.review}">review</p>
        <main>
</body>

</html>