<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <main>
        <h2 th:text="${beer.beerName}">The given beer name</h2>
        <ul>
        <li th:text="${beer.brewery}">Brewing Co.</li>
        <li th:text="${beer.userRating}">user rating</li>
        <li th:text="${beer.style}">style</li>
        <img th:src="${beer.imageUrl}">image</img>
        <li th:text="${beer.userDescription}">review</li>
        </ul>
    <main>
        <form action="/addReview" method="POST">
            <label>Add a review: <input type="text" name="reviewText"/></label> 
            <input type="hidden" name="beerId" th:field="${beer.id}" />
                <button>Submit</button>
                </form>
        <ul th:each="review: ${beer.reviews}">
            <li th:text="${review.reviewText}">Description</li>
        </ul>
</body>

</html>