<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title>List of Beers</title>
    <link rel="stylesheet" href="/css/company-style.css">
</head>

<body>

    <div class = "wrapper">
    <div class="main-header">
        <div class="text-box">
        <h1 th:text="${company.name}"></h1>
    </div>
    </div>
    <div th:each="beer: ${company.beers}"></div>

    <ul>
        <li th:each="beer: ${company.beers}">
            <a th:text="${beer.beerName}" th:href="|/beers/${beer.id}|">Review Page</a></li>
    </ul>
    <!-- <footer class= "add-a-beer">
            <form action="/beers/add" method="POST">
                <label>Beer name
                    <input type="text" name="beerName.beer"/></label>
                <label>Beer style
                    <input type="text" name="style.beer"/></label>
                <label>Brewery
                    <input type="text" name="brewery.company"/></label>
                <label>User Rating
                    <input type="text" name="userRating.beer"/></label>
                <label>Review
                    <input type="text" name="review"/></label>
                <input type="hidden" name="beerId" th:value="${beer.id}"/>
    
                <button type="submit">Submit</button>
            </form>

    </footer> -->
</div>
</body>
</html>