<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title>List of Beers</title>
    <link rel="stylesheet" href="/css/company-style.css">
</head>

<body>
        
        <a href="/add-beer-form">Add a new beer</a>

        <h1 class="main-header" th:text="${company.name}"></h1>
    <div th:each="beer: ${company.beers}"></div>  

    <ul>
        <li th:each="beer: ${company.beers}"> 
        <a th:text="${beer.beerName}" th:href="|/beers/${beer.id}|">Review Page</a></li>
    </ul>

</body>

</html>