<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Barley's Review</title>
    <link rel="stylesheet" href="/css/companies-style.css">
    
</head>

<body>
    <h1>Columbus Barley Reviews</h1>
    <div class="picture-and-companies">
        <section class="picture-and-companies-child">
            <li>
                <h2>Brewing Company:</h2>
            </li>
            <div class = "grid-of-companies" th:each="company: ${companies}">
                <a class="boxed" th:text="${company.name}" th:href="|/companies/${company.id}|">Brew Company Page</a>
            </div>
        </section>
    </div>
</body>

<footer class="footer">
    <p>&copy; Barley's Reviews 2019</p>
</footer>

</html>